<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work of Jacques Brel</title>
</head>
<body>
    <h1>Who's Jacques Brel</h1>

    <p>Jacques Brel was an amazing artist, find below a short selection of his work</p>
    {{#each works}}
    {{> workDisplay this}}
    {{/each}}
</body>
</html>